<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>AudioComponents</key>
			<array>
				<dict>
					<key>description</key>
					<string>FD-808 drum machine &amp; synth</string>
					<key>factoryFunction</key>
					<string>$(PRODUCT_MODULE_NAME).AudioUnitViewController</string>
					<key>manufacturer</key>
					<string>FdEt</string>
					<key>name</key>
					<string>BLKMKT: FD-808</string>
					<key>sandboxSafe</key>
					<true/>
					<key>subtype</key>
					<string>F808</string>
					<key>tags</key>
					<array>
						<string>Synthesizer</string>
						<string>Drums</string>
					</array>
					<key>type</key>
					<string>aumu</string>
					<key>version</key>
					<integer>65536</integer>
				</dict>
			</array>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.AudioUnit-UI</string>
		<key>NSExtensionPrincipalClass</key>
		<string>$(PRODUCT_MODULE_NAME).AudioUnitViewController</string>
	</dict>
</dict>
</plist>
